<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="logoPrincipal.png" type="image/png">
  <title>Agregar Producto</title>
  <link rel="stylesheet" href="../css/agregar_producto.css">
</head>
<body>
  
  <form id="tuFormulario" action="/nuevo_producto" method="post" enctype="multipart/form-data">
  <h1>Agregar Producto</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>
    
    <label for="codigo">Código Producto:</label>
    <input type="text" id="codigo" name="codigo" required>
    <span id="codigoError" style="color: red;"></span><br><br>

    <label for="codigoBarras">Código de Barras:</label>
    <input type="text" id="codigoBarras" name="codigoBarras" required><br><br>
    
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea><br><br>
    
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" required><br><br>
    
    <label for="existencia">Existencia:</label>
    <input type="number" id="existencia" name="existencia" required><br><br>
    
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" required><br><br>
    
    <label for="coste">Costo:</label>
    <input type="number" id="coste" name="coste" required><br><br>

    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" name="imagen"><br><br>
    
    <input type="submit" value="Agregar Producto">
  </form>
  <script src="../js/agregar_producto.js"></script>
</body>
</html>