<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Contacto</title>
  <link rel="stylesheet" href="css/contacto.css" />
  <link rel="icon" href="logoPrincipal.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Contenedor donde se cargará el header.html -->
  <div id="header-container"></div>

  <script>
    function loadHeader() {
      fetch('header.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('header-container').innerHTML = data;
      })
      .catch(error => {
        console.error('Error al cargar el header:', error);
      });
    }

    function initMap() {
      // Función de inicialización del mapa
      const myLatLng = { lat: -34.603722, lng: -58.381592 }; // Coordenadas de ejemplo

      // Crea un nuevo mapa con la configuración inicial
      const map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 12
      });

      // Puedes añadir marcadores, polilíneas, etc., aquí dentro del callback
    }

    function loadGoogleMapsScript() {
      const script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=AIzaSyD6IS7KLSSkyVeI0VXhe8lRYglhLQkV4hk&callback=initMap`;
      script.defer = true;

      script.onerror = function(error) {
        console.error("Error al cargar la API de Google Maps:", error);
      };

      document.head.appendChild(script);
    }

    document.addEventListener('DOMContentLoaded', () => {
      loadHeader(); // Cargar el header al cargar la página
      loadGoogleMapsScript(); // Cargar Google Maps
    });
  </script>

  <!-- Sección Principal -->
  <div class="image-container" style="font-size: 1.5em;">
    <div class="wave-effect"></div>
    <div class="content">
      <h1 class="fade-in">¿Necesitas ayuda?</h1>
      <p class="fade-in">En KONECT estamos pendientes para resolver cualquier
        inquietud o duda y ayudarte a tomar la mejor decisión en el ámbito
        tecnológico.</p>
    </div>
  </div>
  <div class="spacer"></div>
  <h1 id="titulo-servicio" class="tit_Serv">Servicio garantizado</h1>
  <div class="accordion-container">
  <div class="accordion">
    <div class="accordion-item">
      <img src="https://ibilamp.com/modules/ph_simpleblog/featured/92.png" alt="Imagen 1" />
      <h1 class="tit_Serv">Iluminación</h1>
      <p>Mantenimiento eficiente de iluminación y energía. A través de sistemas inteligentes, 
        actualizaciones tecnológicas y la integración de energías renovables</p>
    </div>
    <div class="accordion-item">
      <img src="https://noticiasalas.com/wp-content/uploads/jci-5.jpg" alt="Imagen 2" />
      <h1 class="tit_Serv">Seguridad</h1>
      <p>Garantizamos una instalación eficiente y precisa de cámaras de última generación,
         proporcionando una vigilancia robusta y fiable. Konect, su socio en seguridad</p>
    </div>
    <div class="accordion-item">
      <img src="https://consertek.ca/themes/consertek/assets/images/pages/Products_SabreTower_2.jpg" alt="Imagen 3" />
      <h1 class="tit_Serv">Redes Móviles</h1>
      <p>Nos especializamos en el mantenimiento integral de redes móviles, brindando
         servicios proactivos y personalizados para garantizar un rendimiento optimo</p>
    </div>
    <!-- Agrega todas las imágenes que desees -->
  </div>
</div>

  <h1 class="tit_Serv">¡Te esperamos!</h1>
  <div class="spacer"></div>
  <!-- Sección Principal -->
  <div class="grid-container">
    <!-- Mapa -->
    <div class="map-container">
      <div id="map" style="height: 400px;"></div>
    </div>
    <!-- Texto 1 -->
    <div class="text-container">
      <img src="https://cdn-icons-png.flaticon.com/256/470/470763.png" height = 120px alt="Imagen para Visítanos en">
      <h2>Visítanos en:</h2>
      <p>Av. Inca y Guepi, Edificio Leiva Gallegos</p>
    </div>
    <!-- Texto 2 -->
    <div class="text-container">
      <img src="https://static.vecteezy.com/system/resources/previews/003/738/373/non_2x/time-schedule-icon-free-vector.jpg" height = 150px alt="Imagen para Visítanos en">
      <h2>Horarios de atención:</h2>
      <p>De 9:00 am a 6:00 pm de Lunes a Sábado.</p>
    </div>
  </div>
  
  <script src="js/contacto.js"></script>
</body>
</html>