<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="../css/edicion.css" />
    <link rel="icon" href="logoPrincipal.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Apartado de edición</h1>
    <!-- Tu contenido restante del catálogo -->
    <label for="categoria">Selecciona una categoría:</label>
    <select id="categoria">
        <option value="Todas">Todas</option>
        <option value="Txpro">Txpro</option>
        <option value="Hsgq">Hsgq</option>
    </select>
    <div class="catalogo">
        <!-- ... -->
    </div>
    <div class="pagination">
        <ul class="page-list">
            <!-- ... -->
        </ul>
    </div>
    <button id="agregarProductoBtn">Agregar Producto</button>
    <button id="cerrarSesionBtn">
    <i class="fas fa-power-off" style="color: red;"></i>
    </button>
    <!-- Mueve esta línea al final del body -->
    <script src="../js/edicion.js"></script>
</body>
</html>
