body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.label-hidden {
    display: none;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#toggle-password {
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-left: -25px;
    margin-top: -32px;
}

.password-container {
    position: relative;
}

.password-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

#contraseña {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye i {
    color: #ccc;
    font-size: 18px;
}

.eye i:hover {
    color: #333;
}

.password-label {
    font-size: 16px;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el formulario de solicitud de credenciales a gerencia */
.gerencia-form {
    margin-top: 20px;
}

.gerencia-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gerencia-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    display: block;
}

.gerencia-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
}

.gerencia-form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.gerencia-form button[type="submit"]:hover {
    background-color: #0056b3;
}
